---
layout: default
---

<div class="content">
  <!-- Career Profile -->
  {% include career-profile.html %}

  <!-- Education -->
  {% unless site.data.data.sidebar.education %}
    {% include education.html %}
  {% endunless %}

  <!-- Experiences -->
  {% include experiences.html %}

  <!-- Certifications -->
  {% include certifications.html %}

  <!-- Projects -->
  {% include projects.html %}

  <!-- OSS Contributions -->
  {% include oss-contributions.html %}

  <!-- Publications -->
  {% include publications.html %}

  <!-- Skills -->
  {% include skills.html %}

  <!-- Resumes Section -->
<section id="resumes">
  <h2>{{ site.data.data.resumes.title }}</h2>
  <ul>
    {% for resume in site.data.data.resumes.list %}
      <li>
        <a href="{{ resume.file }}" target="_blank">{{ resume.name }}</a>
      </li>
    {% endfor %}
  </ul>
</section>

