<div class="remove-container container-block">
  <h2 class="container-block-title">
    About This Portfolio
  </h2>
  <ul class="list-unstyled interests-list">
      <li><a target="_blank" href="mailto:lmoore0510@gmail.com">Contact Me</a></li>
    <li><a class="github-button" href="https://github.com/leeeeesamo/portfolio" data-icon="octicon-star" data-show-count="true" aria-label="Star leeeeesamo/portfolio on GitHub">Star</a></li>
  </ul>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</div><!--//About-->
